<div class="panel panel-default">
  <div class="panel-heading"><strong>Matched Albums</strong></div>
  <div class="panel-body">

    <ul id="album-search-results">
      <li ng-repeat="(i, album) in albums.items">
        
        <div class="media album-media-object">
          <div class="media-body">
            <a href="#">
              <img class="media-object img-circle" ng-src="{{ album.images[1].url }}" width="100" height="100" alt="album image"  data-toggle="popover">
              <h5 class="media-heading text-center">{{ album.name }}</h5>
            </a>
          </div>  
        </div>

      </li>
    </ul>

  </div>
</div>