<div class="panel panel-default">
  <div class="panel-heading"><strong>Matched Artists</strong></div>
  <div class="panel-body">

    <ul class="list-group">

      <li class="list-group-item" ng-repeat="(i, artist) in artists.items"  ng-click="fetchArtist(artist.name, artist.id)">
<!--        <a href="#">-->

        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">{{ artist.name }}</h4>
            <img ng-show="artist.images.length" class="media-object" ng-src="{{ artist.images[1].url }}" width="125" height="125" alt="artist image">
            <span ng-show="!artist.images.length">
              <i class="fa fa-5x fa-music"></i>
            </span>
            <input type="hidden" class="artist-id" value="{{ artist.id }}">
          </div>  
        </div>

<!--        </a>-->
      </li>
    </ul>

  </div>
</div>