<div class="row">
  <div class="col-sm-12">
    <form role="form" class="form-inline">
      <div class="form-group">
        <input type="text" id="global-search-field" class="form-control" placeholder="Search by artist, album, or track" ng-model="searchField">
        <button class="btn btn-sm btn-primary" ng-click="search()">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </form>
  </div>
</div>



<hr>

<div class="row" ng-hide="showResults">
  <div class="col-sm-12">
  
    <div class="col-sm-6">
      <div class="panel">
        <h3 class="panel-heading">info</h3>
        <div class="panel-body">
          one, two, three
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel">
        <h3 class="panel-heading">info</h3>
        <div class="panel-body">
          one two three
        </div>
      </div>
    </div>
  
  </div>
</div>

<div class="row" ng-show="showResults">
  <div class="col-sm-3">
  
    <artist-search-results>
      <i class="fa fa-spinner fa-spin"></i>
    </artist-search-results>
    
  </div>
  
  <div class="col-sm-6">
  
    <album-search-results>
      <i class="fa fa-spinner fa-spin"></i>
    </album-search-results>
    
  </div>
  
  <div class="col-sm-3">
    
    <track-search-results>
      <i class="fa fa-spinner fa-spin"></i>
    </track-search-results>
  
  </div>
</div>
