<div class="panel panel-default">
  <div class="panel-heading"><strong>Matched Tracks</strong></div>
  <div class="panel-body">

    <ul class="list-group">

      <li class="list-group-item" ng-repeat="(i, track) in tracks.items">

        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">{{ track.name }}</h4>
            <img class="media-object img-thumbnail" ng-src="{{ track.album.images[1].url }}" width="100" height="100" alt="track image">
            <div>
              <span>Appears on <em>{{ track.album.name }}</em></span>
              <a href="#" id="artist-id-{{ track.artists[0].id }}">View</a>
            </div>
          </div>  
        </div>

      </li>
    </ul>

  </div>
</div>