/* custom styles */

#global-search-field {
  width: 296px;
}

ul#album-search-results {
/*  border: 1px solid green;*/
  list-style: none;
  padding: 2px;
}

#album-search-results li {
  display: inline-block;  
  width: 25%;
  max-width: 25%;
  min-height: 130px;
}

#album-search-results img {
  
}

.album-media-object {
  min-height: 160px;
}

.album-media-object img {
  margin: 0 auto;
}

.album-media-object h5,
.album-media-ojbect h5:hover
.album-media-object a:hover {
  text-decoration: none;
  color: #333;
}

#artist-urls ul {
  padding-left: 0;
  list-style: none;
  text-align: center;
}

#artist-urls ul li {
  display: inline-block;
  margin-right: 5px;
}

#artist-related ul {
  padding-left: 0;
  list-style: none;
}

#artist-related ul li {
  width: 40%;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}

#artist-related p {
  margin-top: 4px;
  line-height: 1em;
  text-align: center;
}

#artist-related img {
  margin: 0 auto;
}

#artist-related img:hover {
  opacity: 0.70;
  cursor: pointer;
}
