<!--
<div class="container-fluid">
  <div id="artist-backdrop-wrapper">
    <span>
    <img class="img-responsive" ng-src="{{ artist.images[1].url }}" style="width:100%">
    <div id="artist-heading" class="visible-sm-*">
      <h2><em>{{ artist.name }}</em></h2>
    
      <h4>About</h4>
      <p>{{ artist.biographies[3].text | limitTo:2000 }}</p>
      <p>Source <em>{{ artist.biographies[3].site }}</em> ~ <a href="{{ artist.biographies[3].url }}">Link</a></p>

      <h4>Review</h4>
      <p>{{ artist.reviews[0].summary }}</p>
    </div>
    </span>
  </div>
-->
</div>


<div class="row">
  <div class="col-sm-4" style="border: 1px solid red;">
    <img class="img-responsive img-thumbnail" ng-src="{{ artist.images[1].url }}" alt="artist image">
    <hr>
    <div id="artist-urls">
      <h4>More Info</h4>
      <ul>
        <li ng-repeat="(key, url) in artist.urls">
          <a class="btn btn-default" href="{{ url }}" target="_blank" data-toggle="tooltip" data-placement="top" title="{{ key | urlTitle }}">
            <span class="glyphicon glyphicon-music"></span>
          </a>
        </li>
      </ul>
    </div>
    <hr>
    <div id="artist-related">
      <h4>Similar to</h4>
      <ul>
        <li ng-repeat="(i, related) in artist.related" ng-click="loadArtist(related.name, related.id)" data-toggle="tooltip" data-placement="top" title="View profile for {{ related.name }}">
          <img class="img-responsive img-rounded" ng-src="{{ related.images[1].url }}" width="85" height="85">
          <p><strong>{{ related.name }}</strong></p>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="col-sm-8" style="border: 1px solid green;">
    <h2><em>{{ artist.name }}</em></h2>
    
    <h4>About</h4>

    <p>{{ artist.biographies[0].text }}</p>
    <p>Source <em>{{ artist.biographies[0].site }}</em> ~ <a href="{{ artist.biographies[0].url }}">Link</a></p>
    
    <h4>Review</h4>
    <p>{{ artist.reviews[0].summary }}</p>
    
    <div class="col-sm-12" style="border: 1px solid red;">
      <div class="" ng-repeat="image in artist.extraImages">
<!--        <img class="img-responsive" ng-src="{{ image.url }}" width="150">-->
      </div>
    </div>
    
    <div class="col-sm-12" style="border: 1px solid yellow">
    
      <h4>Albums</h4>
      
      <div class="panel panel-default">
      
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="(i, album) in artist.albums.items" data-toggle="tooltip" data-placement="top" title="Click to view album tracks">
            <div data-toggle="collapse" data-target="#collapseAlbum{{i}}" aria-expanded="false" aria-controls="collapseAlbum" ng-click="getAlbumTracks(album.id)">

              <div class="media">
                <div class="media-left media-middle">
                  <img class="media-object img-circle" ng-src="{{ album.images[1].url }}" alt="album image" width="75" height="75"/>
                </div>
                <div class="media-body">
                  <h4 class=""><strong>{{ album.name }}</strong></h4>
                </div>
              </div>
            </div>
            <br>
            <div class="collapse" id="collapseAlbum{{i}}">

              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Track #</th><th>Title</th><th>Length</th><th>Sample</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(i, track) in albumTracks.items">
                    <td>{{ track.track_number }}</td>
                    <td>{{ track.name }}</td>
                    <td>{{ track.duration_ms | convertToTime }}</td>
                    <td>
                      coming soon
                    </td>
                  </tr>
                </tbody>
              </table>
     
            </div>
          </li>
        </ul>
      </div>
  </div>
</div>


<div class="row">
  
  {{ artist | json }}
  
</div>